services:
  traefik:
    image: traefik:v3.1
    container_name: traefik
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
      - "8081:8080"   # Traefik dashboard
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      - "./letsencrypt:/letsencrypt"
      - "/var/lib/mist/traefik:/etc/traefik/dynamic"  
      - "./traefik-static.yml:/etc/traefik/traefik.yml:ro"
    networks:
      - traefik-net

networks:
  traefik-net:
    external: true
